html
{
  background-color: #E0E0E0;
}

body
{
  background-color: #E0E0E0 !important;
}

nav
{
  border: none !important;
}


/*============ MEDIA QUERIES ============*/
@media (max-width:480px)
{
	.halfContent h2
	{
	  margin-left: 50px;
	  margin-top: 8%;
	}

	.parallaxBanner img
	{
	  width: 100vw;
	  height: 200px;
	  overflow: hidden;
	  object-fit: cover;
	  margin-left: -16px;
	}

	.parallaxBanner2
	{
	  height: 100vh;
	  width: 50vw;
	}

	.parallaxBanner3
	{
	  height: 100vh;
	  width: 50vw;
	}

	.projectsForBigSize
	{
		display: none;
	}

  .navContainer
  {
    display: none !important;
  }

  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }
}

@media (min-width:481px) and (max-width: 766px)
{
	.parallaxBanner img
	{
	  width: 100vw;
	  height: 200px;
	  overflow: hidden;
	  object-fit: cover;
	  margin-left: -16px;
	}

	.halfContent h2
	{
	  margin-left: 50px;
	  margin-top: 8%;
	}

	.parallaxBanner2
	{
	  height: 200px;
	  width: 50vw;
	}

	.parallaxBanner3
	{
	  height: 100vh;
	  width: 50vw;
	}

	.projectsForBigSize
	{
		display: none;
	}

  .navbar
  {
    position: relative;
  }

  .navContainer
  {
    display: none !important;
  }

  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }
}

@media (min-width:767px) and (max-width:993px)
{
	.projectsHeadings
	{
		margin-top: -47px;
	}

	.projectsForSmallSize
	{
		display: none;
	}

  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navContainer
  {
    display: none !important;
  }
}

@media (min-width:994px) and (max-width: 1150px)
{
	.projectsHeadings
	{
		margin-top: -47px;
	}

	.projectsForSmallSize
	{
		display:none;
	}

  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 5px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navbar-right li a
  {
    color: #E0E0E0 !important;
    font-family: "Josefin Sans";
    text-shadow: none !important;
    letter-spacing: 2px;
    margin-top: 9px;
    margin-right: 5px;
  }

  header
  {
    display: none !important;
  }
}

@media (min-width: 1151px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 25px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navbar-right li a
  {
    color: #E0E0E0 !important;
    font-family: "Josefin Sans";
    text-shadow: none !important;
    letter-spacing: 2px;
    margin-top: 9px;
    margin-right: 25px;
  }

  header
  {
    display: none !important;
  }
}

/* BACK ON TOP STYLES */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 1000;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(30, 30, 30, 1) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  /*-webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;*/
}

.cd-top:hover
{
  background: rgba(30, 30, 30, 1) url(../images/cd-top-arrow-colour.svg) no-repeat center 50%;
  transition: 0.3s ease;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity 0s 0s, visibility 0s 0s;
  -moz-transition: opacity 0s 0s, visibility 0s 0s;
  transition: opacity 0s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  /*opacity: 1;*/
}
.no-touch .cd-top:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 45px;
    width: 45px;
    right: 30px;
    bottom: 30px;
  }
}

.navbar-brand:hover
{
  background-image: url(../images/DSTlogoColour.png);
  transition: 0.3s ease;
}

.navContainer
{
  background-color: #1E1E1E !important;
  height: 65px;
}

.navbar-right li a:hover
{
  color: #E91E63 !important;
  transition: .3s ease;
}

li.active
{
  background-color: #1E1E1E !important;
}

li.active a
{
  background-color: #1E1E1E !important;
  color: #E91E63 !important;
}

.navbar-brand img
{
  height: 35px;
  margin-left: 25px;
}

header
{
  max-width: 100%;
  background: #1E1E1E;
  height: 71px;
  line-height: 65px;
  display: absolute;
}

.row
{
  /*border: 1px solid pink;*/
  background-color: #E0E0E0
}

.fullContent
{
  padding: 50px;
}

.halfContent
{
  padding-top: 150px;
}

/*.halfContent h2
{
  margin-left: -10%;
  margin-top: 8%;
}
*/
.halfContent p
{
  margin: 50px;
}

h1
{
  font-family: "Raleway" !important;
  font-size: 50px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
}

h2
{
  font-family: "Raleway" !important;
  font-size: 50px !important;
  color: #E91E63 !important;
  font-weight: 700 !important;
  margin-left: 50px;
}

h3
{
  font-family: "Josefin Sans" !important;
  font-size: 30px !important;
  color: #1E1E1E !important;
}

p
{
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #1E1E1E;
}

.footer
{
  height: 350px;
  background-color: #AD1457;
  text-align: center;
}

.footerText
{
  text-decoration: none;
  color: #E0E0E0;
}

.footerText a
{
  text-decoration: none;
  color: #E0E0E0;
}

.footerText a:hover
{
  opacity: 0.75;
  transition: 0.3s ease;
  text-decoration: none;
  color: #E0E0E0;
}

.testimonialBox
{
  background-color: #E91E63;
  min-height: 153px;
  z-index: 1;
  margin-top: -5px;
}

.testimonial
{
  font-family: "Josefin Slab";
  font-size: 30px;
  font-style: italic;
  color: #E0E0E0;
  text-align: center;
  margin-top: 50px;
}

.testimonialName
{
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #E0E0E0;
  text-align: center;
}

.heroBanner
{
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.heroBanner video
{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.heroText
{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  top: 50%;
}

.parallaxBanner img
{
  width: 100vw;
  height: 290px;
  overflow: hidden;
  object-fit: cover;
  margin-left: -16px;
}

.parallaxBanner2
{
  height: 100vh;
  width: 50vw;
}

.parallaxBanner3
{
  height: 100vh;
  width: 50vw;
}

.gap
{
  height: 100px;
  background-color: #E0E0E0;
}

.vidThumb
{
  height: 361px;
  border: 1px solid green;
}

.navPadding
{
  padding-top: 100px;
}

.navPadding h2
{
  text-align: center !important;
}

.navPadding p
{
  text-align: center;
}

label
{
  color: #000000;
  font-family: "Roboto" !important;
  font-weight: normal;
  text-align: center;
}

input[type="text"]
{
  border: 0px;
  border-bottom: 1px solid #32C8B6;
  border-style: solid;
  width: 180px;
  background-color: #E0E0E0;
  font-weight: normal;
}

input[type="text"]:focus
{
  border-bottom: 1px solid #E91E63;
  transition: 0.3s ease;
  font-weight: normal;
}

input[type="password"]
{
  border: 0px;
  border-bottom: 1px solid #32C8B6;
  border-style: solid;
  width: 180px;
  background-color: #E0E0E0;
}

input[type="password"]:focus
{
  border-bottom: 1px solid #E91E63;
  transition: 0.3s ease;
}

input[type="submit"]
{
  border: 0px;
  background-color: #32C8B6;
  height: 37px;
  width: 114px;
  font-family: "Roboto";
  text-align: center;
}

input[type="submit"]:hover
{
  background-color: #E91E63;
  transition: 0.3s ease;
}

#feedbackFormCSS
{
  border: 0px !important;
  border-bottom: 1px solid #32C8B6 !important;
  border-style: solid !important;
  width: 255px !important;
  background-color: #E0E0E0 !important;
  font-weight: normal !important;
}
#feedbackFormCSS:hover
{
  border-bottom: 1px solid #E91E63 !important;
  transition: 0.3s ease !important;
  font-weight: normal !important;
}
#feedbackFormCSS:focus
{
  border-bottom: 1px solid #E91E63 !important;
  transition: 0.3s ease !important;
}
#feedbackFormCSSM
{
  border: 0px !important;
  border-bottom: 1px solid #32C8B6 !important;
  border-style: solid !important;
  width: 400px !important;
  background-color: #E0E0E0 !important;
  font-weight: normal !important;
  margin-bottom: -13px !important;
}
#feedbackFormCSSM:hover
{
  border-bottom: 1px solid #E91E63 !important;
  transition: 0.3s ease !important;
  font-weight: normal !important;
}
#feedbackFormCSSM:focus
{
  border-bottom: 1px solid #E91E63 !important;
  transition: 0.3s ease !important;
}

textarea:focus, input:focus
{
  outline: none;
}

.formArea
{
  padding-left: 25px;
  padding-right: 25px;
}

.formSubmit
{
  margin-top: 50px;
}

.feedbackForm
{
  text-align: left;
}

.formAreafeedback
{
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  text-align: left;
}

.formSubmitFeedback
{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
}

#map {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.adminH3
{
  text-align: center;
}

.feedbackH3
{
  text-align: left;
  margin-left: 25px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a
{
	background-image: -webkit-linear-gradient(top,#1E1E1E  0, #1E1E1E 100%) !important;
  background-image: -o-linear-gradient(top,##1E1E1E 0,#1E1E1E 100%)!important;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#1E1E1E),to(#1E1E1E))!important;
  background-image: linear-gradient(to bottom,#1E1E1E 0,#1E1E1E 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E1E1E', endColorstr='#1E1E1E', GradientType=0) !important;
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

/*THIS IS FAQ ACCORDION*/
p.accordion {
 background-color: #E0E0E0;
 color:#1E1E1E;
 cursor: pointer;
 padding: 0px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.3s;
 margin-bottom:5px;
}
/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
 /*background-color: white;*/
 opacity: 0.7;
}
/* Unicode character for "plus" sign (+) */
p.accordion:after {
 content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin: 0px 20px 0px 50px;
}
/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
 content: "\2212";
}
/* Style the element that is used for the panel class */
div.panel {
 padding: 0 85px;
 background-color: #E0E0E0;
 max-height: 0;
 overflow: hidden;
 transition: 0.3s ease-in-out;
 opacity: 0;
 margin-bottom:10px;
 box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
div.panel.show {
 opacity: 1;
 max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.bcg-parallax
{
  padding: 150px 0;
  color: #fff;
  background-color: #000;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.bcg
{
  width: 100%;
  height: 150%;
  top: 0;
  z-index: 1;
  position: absolute;
}

.content-wrapper
{
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  z-index: 2;
}
/* css for accordion videos for smaller sizes with new classes. test purpose
p.accordionVideos
{
 background-color: #E0E0E0;
 color:#1E1E1E;
 cursor: pointer;
 padding: 0px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.3s;
 margin-bottom:5px;
}
*/
p.accordionVideos.active, p.accordionVideos:hover
{
 /*background-color: white;*/
 opacity: 0.7;
}


/* Style the element that is used for the panel class */
div.panelVideos
{
 padding: 0 85px;
 background-color: #E0E0E0;
 max-height: 0;
 overflow: hidden;
 transition: 0.3s ease-in-out;
 opacity: 0;
 margin-bottom:10px;
 box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

div.panelVideos.show
{
 opacity: 1;
 max-height: 500px;
}

 p.accordionVideos
 {
  background-color: #32C8B6;
  color: #1E1E1E;
  cursor: pointer;
  width: 148px;
  height: 45px;
  margin-left: 68px;
  border: none;
  outline: none;
  transition: 0.3s;
  margin-bottom: 5px;
  padding-top: 12px;
  font-size: 18px;
  padding-left: 25px;
}

p.accordionVideos:hover
{
  background-color: #E91E63;
  opacity: 1;
}

.hamburger
{
  color: #E0E0E0;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 30px;
  z-index: 1;
  position: relative;
  float: right;
}

.hamburger:hover
{
  transition: 0.3s ease;
  color: #E91E63;
  cursor: pointer
}

.cross
{
  color: #E0E0E0;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 30px;
  z-index: 1;
  position: relative;
  float: right;
}

.cross:hover
{
  transition: 0.3s ease;
  color: #E91E63;
  cursor: pointer
}

.menu
{
  z-index:1000000;
  width: 100%;
  background: #red;
  position: absolute;
  text-align: right;
  font-size: 14px;
  font-family: "Josefin Sans";
  letter-spacing: 2px;
  margin-top: 60px;
}

.menu ul
{
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  background-color: #1E1E1E;
}

.menu li
{
  margin-right: 30px;
}

.menu ul li a
{
  color: #E0E0E0;
  text-decoration:none;
}

.menu ul li a:hover
{
  color: #E91E63;
  text-decoration:none;
}

.menu a
{
  color: #E0E0E0;
  text-decoration: none;
}

.menu a:hover
{
  color: #E91E63;
  text-decoration: none;
}

.glyphicon-home
{
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

.rowCarousel
{
  background-color: #E91E63;
  width: 65vw;
  margin: auto;
}

.carousel-content
{
  align-items:center;
  margin-top: -20px;
  padding-bottom: 20px;
}

#text-carousel
{
  width: 100%;
  height: auto;
  padding: 50px;
}

.carousel-control.right
{
  background-image: -webkit-linear-gradient(left, #E91E63 0%, #E91E63 100%) !important;
  background-image: -o-linear-gradient(left, #E91E63 0%, #E91E63 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#E91E63), to(#E91E63)) !important;
  background-image: linear-gradient(to right, #E91E63 0%, #E91E63 100%) !important;
  margin-top: 5px !important;
}

.carousel-control.left
{
  background-image: -webkit-linear-gradient(left, #E91E63 0%, #E91E63 100%) !important;
  background-image: -o-linear-gradient(left, #E91E63 0%, #E91E63 100%) !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#E91E63), to(#E91E63)) !important;
  background-image: linear-gradient(to right, #E91E63 0%, #E91E63 100%) !important;
  margin-top: 5px !important;
}

.social
{
  margin: auto;
  padding-bottom: 100px;
}

.socialInstagram
{
  background-image: url(../images/InstagramLogoAqua.png);
  background-size: 50px;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: 50px;
  margin-right: 25px;
}

.socialInstagram:hover
{
  background-image: url(../images/InstagramLogoMagenta.png);
  transition: 0.3s ease;
}

.socialFacebook
{
  background-image: url(../images/FacebookLogoAqua.png);
  background-size: 50px;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 25px;
}

.socialFacebook:hover
{
  background-image: url(../images/FacebookLogoMagenta.png);
  transition: 0.3s ease;
}

.swinburneLogos
{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 50px;
}

.swinburneLogo
{

}

.knowingLogo
{
  background-image: url(../images/knowingLogo.png);
  background-size: 50px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.fIcons
{
  width: 25px;
  float: left;
}

.textIcons
{
  margin-left: 25%;
}

.feedbackFormIcons
{
  margin: 28px 0px 0px 0px;
}

/* THIS IS MAGIC SCROLL */
.magicscrollimg
{
  opacity: 0;
  transform: translateX(-100%);
  transition: all 2s, opacity 1.5s ease-out;
  background-repeat: no-repeat;
}

.magicscrollimg.fade-in
{
  opacity: 1;
  transform: translateX(0);
}
