html
{
  background-color: #E0E0E0;
}

body
{
  background-color: #E0E0E0 !important;
}

nav
{
  border: none !important;
}

/*============ MEDIA QUERIES ============*/
@media (max-width:480px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navContainer
  {
    display: none !important;
  }
}

@media (min-width:481px) and (max-width: 766px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navContainer
  {
    display: none !important;
  }
}

@media (min-width:767px) and (max-width:993px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 10px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  .navContainer
  {
    display: none !important;
  }
}

@media (min-width:994px) and (max-width: 1150px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 5px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  header
  {
    display: none !important;
  }
}

@media (min-width: 1151px)
{
  .navbar-brand
  {
    height: auto;
    width: 270px;
    margin-left: 25px !important;
    margin-top: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/DSTlogo.png);
  }

  header
  {
    display: none !important;
  }
}

.navbar-brand:hover
{
  background-image: url(../images/DSTlogoColour.png);
  transition: 0.3s ease;
}

.navContainer
{
  background-color: #1E1E1E !important;
  height: 65px;
}

.navbar-right li a
{
  color: #E0E0E0 !important;
  font-family: "Josefin Sans";
  text-shadow: none !important;
  letter-spacing: 2px;
  margin-top: 9px;
  margin-right: 0px;
}

.navbar-right li a:hover
{
  color: #E91E63 !important;
  transition: .3s ease;
}

li.active
{
  background-color: #1E1E1E !important;
}

li.active a
{
  background-color: #1E1E1E !important;
  color: #E91E63 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
  background-color: #1E1E1E;
}

.navbar-brand img
{
  height: 35px;
  margin-left: 25px;
}

.row
{
  /*border: 1px solid pink;*/
  background-color: #E0E0E0
}

.fullContent
{
  padding: 50px;
}

.halfContent
{
  padding-top: 150px;
}

.halfContent h2
{
  margin-left: -10%;
  margin-top: 8%;
}

.halfContent p
{
  margin: 50px;
}

h1
{
  font-family: "Raleway" !important;
  font-size: 50px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
}

h2
{
  font-family: "Raleway" !important;
  font-size: 50px !important;
  color: #E91E63 !important;
  font-weight: 700 !important;
  margin-left: 50px;
}

h3
{
  font-family: "Josefin Sans" !important;
  font-size: 30px !important;
  color: #1E1E1E !important;
  text-align: center;
}

p
{
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #1E1E1E;
}

.footer
{
  height: 224px;
  background-color: #AD1457;
  text-align: center;
}

.footerText
{
  text-decoration: none;
  color: #E0E0E0;
}

.footerText a
{
  text-decoration: none;
  color: #E0E0E0;
}

.footerText a:hover
{
  opacity: 0.75;
  transition: 0.3s ease;
  text-decoration: none;
  color: #E0E0E0;
}

.testimonialBox
{
  background-color: #E91E63;
  height: 153px;
}

.testimonial
{
  font-family: "Josefin Slab";
  font-size: 30px;
  font-style: italic;
  color: #E0E0E0;
  text-align: center;
  margin-top: 50px;
}

.testimonialName
{
  font-family: "Josefin Sans";
  font-size: 14px;
  color: #E0E0E0;
  text-align: center;
}

.heroBanner
{
  width: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.heroBanner video
{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.heroText
{
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  top: 50%;
}

.parallaxBanner img
{
  width: 100vw;
  height: 290px;
  overflow: hidden;
  object-fit: cover;
  margin-left: -16px;
}

.parallaxBanner2
{
  height: 130vh;
  width: 50vw;
  background-image: url(../images/whiteboard.jpg);
}

.parallaxBanner3
{
  height: 130vh;
  width: 50vw;
  background-image: url(../images/laptop.jpg);
}

.gap
{
  height: 100px;
  background-color: #E0E0E0;
}

.vidThumb
{
  height: 361px;
  border: 1px solid green;
}

.navPadding
{
  padding-top: 100px;
}

.navPadding h2
{
  text-align: center !important;
}

.navPadding p
{
  text-align: center;
}

label
{
  color: #000000;
  font-family: "Roboto" !important;
  font-weight: normal;
  text-align: center;
}

input[type="text"]
{
  border: 0px;
  border-bottom: 1px solid #32C8B6;
  border-style: solid;
  width: 250px;
  background-color: #E0E0E0;
  font-weight: normal;
}

input[type="text"]:focus
{
  border-bottom: 1px solid #E91E63;
  transition: 0.3s ease;
  font-weight: normal;
}

input[type="password"]
{
  border: 0px;
  border-bottom: 1px solid #32C8B6;
  border-style: solid;
  width: 250px;
  background-color: #E0E0E0;
}

input[type="password"]:focus
{
  border-bottom: 1px solid #E91E63;
  transition: 0.3s ease;
}

input[type="submit"]
{
  border: 0px;
  background-color: #32C8B6;
  height: 37px;
  width: 114px;
  font-family: "Roboto";
  text-align: center;
}

input[type="submit"]:hover
{
  background-color: #E91E63;
  transition: 0.3s ease;
}

textarea:focus, input:focus
{
  outline: none;
}

.adminLoginForm
{
  text-align: center;
  margin-top: 60px;
}

.formArea
{
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
}

.formSubmit
{
  margin-top: 50px;
  margin-bottom: 50px;
}

header
{
  max-width: 100%;
  background: #1E1E1E;
  height: 71px;
  line-height: 65px;
  display: absolute;
}

.hamburger
{
  color: #E0E0E0;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 30px;
  z-index: 1;
  position: relative;
  float: right;
}

.hamburger:hover
{
  transition: 0.3s ease;
  color: #E91E63;
  cursor: pointer
}

.cross
{
  color: #E0E0E0;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 30px;
  z-index: 1;
  position: relative;
  float: right;
}

.cross:hover
{
  transition: 0.3s ease;
  color: #E91E63;
  cursor: pointer
}

.menu
{
  z-index:1000000;
  width: 100%;
  background: #red;
  position: absolute;
  text-align: right;
  font-size: 14px;
  font-family: "Josefin Sans";
  letter-spacing: 2px;
  margin-top: 60px;
}

.menu ul
{
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  background-color: #1E1E1E;

}

.menu li
{
  margin-right: 30px;
}

.menu ul li a
{
  color: #E0E0E0;
  text-decoration:none;
}

.menu ul li a:hover
{
  color: #E91E63;
  text-decoration:none;
}

.menu a
{
  color: #E0E0E0;
  text-decoration: none;
}

.menu a:hover
{
  color: #E91E63;
  text-decoration: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#1e1e1e 0,#1e1e1e 100%) !important;
    background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#1e1e1e)) !important;
    background-image: linear-gradient(to bottom,#1e1e1e 0,#1e1e1e 100%)!important ;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: none !important;
    box-shadow:none !important ;
}

.dropdown-menu>li>a {
	text-align:left;
	text-align: -webkit-right;
    color: #e0e0e0 !important;
	background-image: -webkit-linear-gradient(top,#1e1e1e 0,#1e1e1e 100%) !important;
    background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#1e1e1e)) !important;
    background-image: linear-gradient(to bottom,#1e1e1e 0,#1e1e1e 100%)!important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #1e1e1e !important;
	border: none !important;
    border: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}
.dropdown-menu>li :hover {
   	background-color: #1e1e1e !important;
}

.nav>li>a:focus, .nav>li>a:hover
{
  text-decoration: none;
  background-color: #1E1E1E !important;
}
